.git
.gitignore
.github

.venv
venv
env

.env
.env.*

__pycache__
*.py[cod]
*.pyo
*.pyd

.pytest_cache
.coverage
.coverage.*
htmlcov
.mypy_cache
.ruff_cache

.vscode
.idea

tests
docs
examples
tools
benchmark_datasets
benchmark_results

data

.DS_Store
Thumbs.db